<div class="container log_in_form_position">

  <form class="form-signin" action="log_in" method="post" >
    <h2 class="form-signin-heading">请登录</h2>
    <input type="text" class=" input-block-level " placeholder="用户名" name="username" style="width: 230px">
    <br>
    <input type="password" class="input-block-level " placeholder="密码" name="password" style="width: 230px">
    <br>
    <button class="btn btn-large btn-primary" type="submit">登录</button>
  </form>

</div>