<div>
  <div class="float_left">
    <h1>新闻列表</h1>
  </div>
  <div class="float_left">
    <br>
    <form class="" action="news/search" method="post">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" class="input-medium search-query" style="height: 30px " placeholder="search" name="search_target">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
</div>
<table>
  <tr>
    <th>标题</th>
    <th>发布时间</th>

  </tr>

  <% if @news != nil %>
      <% @news.each do |news| %>
          <tr>

            <td><%= link_to news.title, news %></td>
            <td><%= news.updated_at %></td>
          </tr>
      <% end %>
  <% end %>

</table>

<br/>
<% if @news != nil %>
    <%= paginate @news %>
<% end %>
